@import "style.css";

.section-photo {
    display: flex;
}

.section-photo__nike, .section-photo__caps {
    width: 50%;
    position: relative;
    min-width: 335px;
}

.section-photo__nike img {
    width: 100%;
    height: auto;
}

.section-photo__caps img {
    width: 70%;
    height: auto;
}

.section-photo__nike {
    padding: 20px;
}

.section-photo__caps {
    padding-left: 48px;
    border-left: 1px solid #e5e5e5;
}

.section-photo__description {
    position: absolute;
    top: 13%;
    right: 10%;
}

.section-photo__description a {
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
}

.section-photo__description p {
    font-size: 16px;
    line-height: 26px;
    color: #757575;
    font-family: "Times New Roman";
    font-style: italic;
    text-align: center;
    margin: 0;
}

.section-photo__description h2 {
    margin: 0;
}

.bestOffer__description {
    text-align: center;
    margin: 105px auto 75px;
}

.bestOffer__description h1 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
}

.bestOffer__description p {
    width: 894px;
    height: 28px;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    font-family: "Times New Roman";
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

.slider__card-left p, .slider__card-right p  {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
}

.slider__card-left p:nth-child(2), .slider__card-right p:nth-child(2){
    margin: 50px 0 24px 0;
    font-weight: 700;
}

.slider_area, .slider_area2{
     width: 240px;
     height: 450px;
     margin: 0 auto;
     overflow: hidden;
     position: relative;
 }

#slider__wrapper-left {
    transition: .7s ease-out;
    position: absolute;
    top: 0;
    left: 0;
}
.slider__left{
    display: flex;
    width:61%;
}
.slider__equal{
    width: 39%;
}
.slider{
    display: flex;
    width: 100%;
    margin-bottom: 180px;
    margin-top: 120px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .slider_area {
        max-width: 210px;
        height: 380px;
    }

    .section-photo__description {
        position: absolute;
        top: 10%;
        right: 8%;
    }

    .section-photo__description a {
        letter-spacing: 1px;
        color: #000000;
        font-family: "Open Sans";
        font-weight: 700;
        text-align: center;
    }

    .section-photo__description p {
        font-size: 16px;
        line-height: 26px;
        color: #757575;
        font-family: "Times New Roman";
        font-style: italic;
        text-align: center;
        margin: 0;
    }

    .section-photo__description h2 {
        font-size: 22px;

    }

    .bestOffer__description h1 {
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 65px;
        color: #000000;
        font-family: "Open Sans";
        font-weight: 700;
        text-align: center;
    }

    .bestOffer__description p {
        width: 671px;
        height: 56px;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
        font-family: "Times New Roman";
        font-style: italic;
        margin: 0 auto;
    }

}

@media (max-width: 768px) {
    .section-photo__caps {
        display: none;
    }

    .section-photo__nike {
        width: 100%;
    }

    .bestOffer__description {
        margin: 50px auto 75px;
    }

    .bestOffer__description h1 {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 65px;
        color: #000000;
        font-family: "Open Sans";
        font-weight: 700;
        text-align: center;
    }

    .bestOffer__description p {
        width: 336px;
        height: 86px;
        font-size: 14px;
        line-height: 30px;
        color: #000000;
        font-family: "Times New Roman";
        font-style: italic;
        text-align: center;
        margin: 0 auto;
    }
}


